.searchfirstsec{
    /* background-color: rgb(10, 10, 42); */
    background-image: linear-gradient(0deg,#15457b,#051423);
    /* background-image: linear-gradient(0deg,#15457b,#051423); */
    width: 100%;
   
    min-height: 15rem;
    padding-top: 40px;
    position: relative;
    /* position: fixed !important; */
    padding-left: 10px;
    
}

.dropdown-toggle{
  color: #fff !important;
}
.flight_travellersText__XNJHx {
/* padding-left: 160px; */
border: #000 !important;
/* display: none; */
}

.searchrow{
    /* background-color: rgb(10, 10, 42); */
    
    /* justify-content: space-between; */
    gap: 4px;
    margin-left: 5rem !important;
    
}
.btnsearch{
    
    color: #000 !important;
    font-weight: 700 !important;
}

.searchstart{
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

/*  */
  .searchcenter{
    background-color: rgb(10, 10, 42);

    
     /* background-image: linear-gradient(0deg,#15457b,#051423); */
    width: 100%;
    
    height: 9rem;
  }
  /* filter */
  
  /* date */
  .datepicker{
    color: rgb(255, 2, 2) !important;
    /* height: 0 !important; */
  }
  .farerow2{
    display: flex;
    flex-direction: row;
  }
  .farerow3{
    gap: 1px;
    width: "";flex-direction: row;
  }
  .farespan{
    /* padding: 8px 12px; */
    font-size: calc(var(--font-scale, 1)*12px);
    font-weight: 700;
    display: inline-flex;
  }
  .farerow3{
    padding-left: 6rem !important;
  }
  @media screen and (max-width:600px){
    .col-1,.col-2{
      width: 80% !important;
      /* margin-right: 12rem; */
      
    }
    
    .searchfirstsec{
    display: grid;
    justify-content: center ;
    }
    .Searchbtn{
      display: grid !important;
      justify-content: center !important;
      margin-left: auto;
      margin-right: 40%;
    }
    .farerow3{
      display: flex !important;
      /* flex-direction: column !important; */
      /* margin: 2rem; */
      gap: 4px;
      min-width: 23rem !important;
      /* flex-wrap: wrap; */
      /* max-height: 2rem !important; */
      
      /* width: 100px; */
    }
    
    .faretypes{
      /* font-size: x-large; */
    }
    
  }
  @media screen and (max-width:420px){
    .farespan{
      font-size: 12px !important;
      /* margin-right: 10px !important; */
    }
    .farerow2{
      /* min-width: 19rem !important; */
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      /* margin-right: 14rem; */
    }
    .farerow3{
      padding-left: 2rem !important;
    }
    .searchrow{
      /* margin-right: 9rem !important; */
    margin-left: 2rem !important;

    
    }
  }

 
