body {
  background-color: #e5eef4;
}
.box {
  width: 100%;
  padding-left: 5%;
  /* padding-right: 5%; */
  /* margin-top: 2%; */
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  background: #e5eef4;
}
.container {
  /* width: 70%; */
  width: 880px;

  display: flex;
  flex-direction: column;
  margin-top: 60px;
  
}
.filterCheck {
  /* display: block; */
  display: flex;
  flex-direction: row;
  margin: 2%;
  gap: 1rem;
}
.filterDiv {
  background-color: white;
  margin-top: 60px;
  width: 20%;
  border-radius: 5px;
  margin-right: 2%;
  padding: 2%;
  height: fit-content;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 6px rgb(158, 156, 156);
  
}
.first {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.sort {
  background-color: white;
  margin-top: 1%;
}
.sortInnerDiv {
  padding: 0.5%;
  margin: 1.5%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
  padding-right: 18%;
  cursor: pointer;
}
.singleflight {
  margin-top: 2%;
  height: fit-content;
  padding: 1%;
  /* border-radius: 4px; */
  /* width: 100%; */
  background-color: white;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px rgb(158, 156, 156);

}
.heading {
  margin: 0px;
  padding: 0px;
  /* margin-left: 30%; */
}
.departtime,.price,.arrivaltime{
  font-weight: 900;
  font-size: 16px;
  font-family: sans-serif;
}
.departsub,.arrivalsub{
  font-size: 10px;
  width: 100%;
  font-weight: 400;
  color: #000;
}

.guidelines {
  background-color: white;
  display: flex;
  flex-direction: row;

  height: fit-content;
  border-radius: 5px;
  /* margin-left: 30%; */
  padding: 0.5%;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(232, 253, 233)) !important;
  box-shadow:  0 2px 4px 0 rgb(0 0 0 / 15%) !important;

}

.guidelineImg {
  max-width: 45px;
  max-height: 45px;
  top: 10px;
  position: relative;
}
.guidelineText {
  padding: 3px;
  font-size: 10px;
  margin: 0px;
  text-align: center;
}
.maincontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  /* padding: 10px; */
}
.imgairline{
  margin-top: 0;
  width: 25px;
  height: 25px;


}
.inner_cont {
  width: 20%;
  
   /* width: 16%; */

  margin: 0px;
  margin-right: 4%;
  padding: 0px;
}
.singleflight_divsec__wCNKE {
  width: 80% !important;
}
.discount {
  background-color: rgb(255, 237, 209);
  padding: 3px;
  font-size: 12px;
  margin: 0px;
  text-align: center;
}
/* .singleflight_guidelines__Z6B7K {
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(232, 253, 233)) !important;
  box-shadow:  0 2px 4px 0 rgb(0 0 0 / 15%) !important;
  width: 100%;
  margin: 10px auto;
  padding: 1rem !important;
} */

.safety{
  width: 100%;
  /* margin: 10px auto; */
  padding: 10px;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(232, 253, 233)) !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #08e917 !important;
}

.buttonBookNow {
  width: 97px !important;
  margin: 0px;
  margin-right: 5%;
  padding: 15px !important;
  font-size: 14px;
  font-weight: 700;
  margin-top: 2%;
  border-radius: 35px !important;
  color:#fff !important;
  background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
}
.details {
  padding: 1%;
  text-align: right;
  color: #0091ff;
  font-size: 13px;
  cursor: pointer;
}
.line {
  border-top: 3px solid  #50e3c2;
  width: 55%;
  margin: 10% 0% 0% 0%;
  opacity: 1.25;
  display: grid;
  justify-content: center;
  /* display: block; */
  /* height: 2px; */
}
.divsec{
  display: flex;
  flex-direction: row !important;
  width:90%;
}
.flightdetails{
  border-bottom: 0.5px solid #dcdcdc;
    background-color: #fafbfc;
    padding: 17px 20px;
    /* position: relative; */
    /* bottom: 10px; */
    box-shadow: inset 0 2px 9px 0 rgb(0 0 0 / 8%);

}
.flightdetailsbtn{
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px rgb(158, 156, 156);
  width: 65%;
  margin-left: 10px !important;
  margin-bottom: 24px !important;
  
  /* display: inline-flex !important; */


}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 720px) {
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .guidelines,.sort{
    margin-bottom: 10px;
  }
  .filterDiv {
    /* display: none; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin-left: -8px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right: 2%;
    margin-bottom: 5px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 4px rgb(158, 156, 156);
  }
  .first{
    width: 250px;
  }
  .container {
    width: 98%;
   
    
    /* font-size: 10px; */
  }
  .singleflight {
    width: 100% !important;
  }

  .maincontainer {
    padding: 2%;
    margin: 1%;
    width: 95%;
    border-radius: 30px !important;
    display: flex;
    flex-direction: column;
    
  }.inner_cont{
    width: 20%;
    margin-top: 10px;
  }
  .guidelineText {
    font-size: 6rem ;
  }
  .buttonBookNow {
    width: 10%;
    margin-left: 5%;
    padding: 0px;
    font-size: 8px;
    font-weight: 700;
    margin-top: 2%;
    margin-right: 0.5%;
  }
  .divsec{
    width: 100%;
  }
}
/* @media screen and (max-width: 680px) and (min-width: 518px) {
  .first{
    width: 250px;
  }
} */
@media only screen and (max-width: 580px) {
  .first{
    width:173px;
  }
  .maincontainer {
    padding: 0%;
    margin: 0%;
    width: 95%;
    border-radius: 30px !important;
    
  }
  .btnbook{
    display: none;
  }
  .box{
    padding-left: 2%;
  }
  .inner_cont {
    /* width: 28%; */
    margin: 0px;
    margin-right: 4%;
    padding: 0px;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    /* min-height: 3rem; */
    margin-bottom: 15px;
  }
.details{
  display: none;

}
.flightdetails{
  display: none;
}
}
@media only screen and (max-width: 417px) {
  .box{
    color: #4a4a4a!important;
    line-height: inherit;
    margin: 0;
    background: #c3e9f4 0 0!important;
  }
  .first{
    width:153px;
  }
  .singleflight{
    margin-bottom: 5px;
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px rgb(158, 156, 156);
  }
  .maincontainer {
    padding: 1%;
    margin: 0%;
    width: 95%;
    border-radius: 30px !important;
  }
  .imgairline{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center center;
    background-size: contain;
  }
  .container {
    width: 98%;
    font-size: 12px;
  }
  .inner_cont{
    width: 25%;
    /* justify-content: end; */
   

  }
.sortInnerDiv {
  padding-right: 0;
}
  /* .divsec > .inner_cont{
    justify-content: end;
    margin-left: auto;
  } */
  .line{
    width: 70%;
  }
  .filterDiv {
    /* display: none; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    margin-left: -5px;
    display: grid;
    width: 100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1323px) {
  .guidelineText {
    padding: 0px;
    font-size: 8px;
    padding: 3px;
    margin: 0px;
    text-align: center;
  }
}
