.flight_wrapper {
  /* background: linear-gradient( */
    /* to top,
    rgb(14, 38, 172) 0%,
    rgb(2, 8, 97) 50%,
    rgb(12, 3, 97) 50%,
    rgb(0, 1, 32) 100%
  ); */
  background-image: linear-gradient(0deg,#15457b,#051423);
  padding: 1px;
  position: relative;
  /* border: 1px solid green; */
  height: auto;
}
/* mobile version row */
.mobilesection{
  margin-top: 20px;
  max-height: 5rem;
 
}
.mobilesectionrow{
  display: none !important;
 
}

.flight_container {
  /* border: 10px solid green; */
  background-color: white;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  font-size: bold;
  height: auto;
  border-radius: 12px;
}
.tripInternational {
  display: flex;
  justify-content: space-evenly;
  font-size: bold;
  flex-wrap: wrap;
  max-width: 900px;
}
.book {
  flex-grow: 8;
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: end;
  margin-left: auto;
  font-size: bold;
}
@media only screen and (max-width: 900px) {
  .book {
    /* display: none; */
    /* margin-top: 10px; */
    margin-bottom: 10px;
    /* margin-top: 0 !; */
  }
}
/* fromcol */
.fromcol{
  border: 1px solid lightgray !important;
  border-radius: 6px;
  max-height: 5rem;
  min-height: 5rem !important;
  cursor: pointer;
}
.fromcol:hover{
   background-color: aliceblue;
  
}
.select{
  z-index: 99950;
  /* overflow: hidden; */
  bottom: 2.9rem;
  margin-bottom: 0;
}
.hey {
  min-height: 5rem !important;
  background-color: lightblue !important;
  border-radius: 7px;
}
.datePicker{
  background-color: lightblue !important;
  min-height: 5rem;
}


.select:visited{
display: none;
}
/* .select:active{
  display: none;
} */
.multiple_trip {
  flex-grow: 1;
  display: flex;
  height: 70px;
  /* justify-content: flex-start; */
  margin-top: -19px;
}
.multibtnrow{
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px rgb(158, 156, 156);
  padding: 5px !important;
  /* min-height: 3rem */
}
.multiple_trip > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.multiple_trip > div > div {
  margin-left: 6px;
 
}

/* search bar from and to start */
.bookingSearch {
  display: flex;
  /* gap: -330px; */
  /* flex-wrap: wrap; */
  /* border: 1px solid red; */
}
.bookingSearch > div:nth-child(1){
  width: 46%;
  /* border: 1px solid red; */
  margin-right: 14px;
}
.bookingSearch > div:nth-child(2){
  width: 23%;
  /* border: 1px solid green; */
  display: grid;
    place-items: center;
}
.bookingSearch > div:nth-child(3){
  width: 23%;
  /* border: 1px solid green; */
}

/* .fromToConnecting {
  width: 50%;
} */

.departureArrivalConnecting {
  position: relative;

}
.from {
  width: 100%;
  /* border: 1px solid magenta; */
}
.to{
  width: 100%;
  /* border: 1px solid green; */
}
.fromTo {
  display: flex;
  z-index: 1;
}

.connectingIcon {
  /* border: 1px solid black; */
  display: grid;
  place-items: center;
  background-color: white;
}

/* //Departire nad return date css starts */
.DepRetContainer {
  
  flex-grow: 0.3;
  width: 20%;
  position: relative;
  /* top: 1px; */
  bottom: 2px;
  right:15px;
  

 
}
/* .datePicker:hover{
  background-color: aliceblue;

} */
.RetContainer{
  margin-top: 2px;
}
.DepRetContaineraddcity{
  flex-grow: 0.3;
  width: 20%;
}
/* no. of travellers */
.travellerContainer {
  border: 1px solid lightgray;
  border-radius: 5px;
  /* flex-grow: 0.3; */
  width: 25%;
  height: 80px;
  position: relative;
  bottom: 9px;
  cursor: pointer;
  margin-left: 15px;
  z-index: 15;
  right: 35px;
  margin-top: 9px;
}
.travellerContainermulticity{
  border: 1px solid lightgray;
  /* background-color: #008cff; */
  border-radius: 5px;
  /* flex-grow: 0.3; */
  width: 25%;
  height: 80px;
  position: relative;
  bottom: 9px;
  cursor: pointer;
  margin-left: 15px;
  /* z-index: 1; */
  right: 30px ;
  margin-top: 9px;

}

.travellersText {
  /* padding-top: 7px; */
  padding-left: 10px;
  /* font-size: 1.2em; */
  font-weight: bold;
  
  color: rgb(62, 59, 59);
}

.travellersText:after {
  border: solid #008cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  vertical-align: top;
  margin: 3px 0 0 8px;
  transition: all 0.3s ease-in-out;
}

.noOfTraveller {
  font-weight: 600;
  color: black;
  font-size: 1.4em;
  padding-left: 8px;
}
.noOfTraveller span {
  font-weight: 900;
  font-size: 1.1em;
  margin-right: 8px;
}

.noDisplay {
  display: none;
}
.traveller_modal {
  position: absolute;
  /* width: 314px; */
  min-height: 20rem;
  z-index: 20;
  top: 30px;
  left: 0%;
  background: white;
  /* border: 1px solid red; */
  padding: 15px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 2px rgb(158, 156, 156);
}
/*  multi*/
.traveller_modalmulti {
  /* position: absolute; */
  position: relative;
  width: 314px;
 
  min-height: 20rem;

  /* top: 30px; */
  z-index: 999999;
  bottom: 35px;
  /* left: -100%; */
  background: white;
  /* border: 1px solid red; */
  padding: 15px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 2px rgb(158, 156, 156);
}

.adultChild {
  font-size: 0.8em;
  font-weight: bold;
  color: gray;
  margin-top: 10px;
}

.modalApplyText {
  background: linear-gradient(
    to right,
    #8fdcfa 0%,
    #619ff0 50%,
    #6c9feb 50%,
    #3339e9 100%
  );
  width: 25%;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 4px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.passengerButtonContainer {
  display: flex;
  margin-top: 4px;
  
}

.passengerButton {
  margin: 5px 0 5px;
  padding: 4px 10px;
  font-size: small;
  cursor: pointer;
}
.clickPassenger {
  margin: 5px 0 5px;
  padding: 4px 10px;
  font-size: small;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
}
.passengerButton:hover {
  background-color: rgb(179, 170, 170);
}

.infantChildren {
  /* margin-left: 5px; */
  display: flex;
  justify-content: space-between;
  
}

.buttonContainer {
  cursor: pointer;
  background-image: var(--color-btn-primary-bg,linear-gradient(93deg,#53b2fe,#065af3));
  position: absolute;
  bottom: 7.5%;
  left: 42%;
  padding: 0.1% 45px;
  border-radius: 34px;
  color: white;
  font-size: 24px;
    line-height: 24px;
  font-weight: 700;
  width: 216px;
  padding: 10px;
  /* margin-bottom: -32px; */
  opacity: 1;
  flex-shrink: 0;
    outline: 0;
    text-align: center;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
}
.buttonContainer1 {
  cursor: pointer;
  background: linear-gradient(
    to right,
    #8fdcfa 0%,
    #619ff0 50%,
    #6c9feb 50%,
    #3339e9 100%
  );

}
.addcitybtn{
  font-size: 14px !important;
  font-weight: 600 !important;
}
.economybtn{
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 4px rgb(158, 156, 156);
  width: 90% !important;
  margin-top: 10px !important;
  margin-left: 10px;
  border-radius: 4px;

}


@media only screen and (max-width: 1070px) {
  .bookingSearch > div:nth-child(1){
    width: 100%;
    
  }
  .bookingSearch > div:nth-child(2){
    width: 47%;
    
  }
  .bookingSearch > div:nth-child(3){
    width: 47%;
    
  }
  .bookingSearch {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
  }
    .fromToConnecting {
    margin: auto;
    margin-bottom: 20px;
  }
  .RetContainer{
    margin-top: -5px;
    margin-left: 16px;
  }
  .DepRetContainer{
  right: 0;
  width: 100%;
  /* top: 10px; */
  margin-bottom: 10px;
    
  }
  

  .travellerContainer{
    flex-grow: 1;
    margin-top: 10px;
    right: 12px;
   
  }
  .buttonContainer {
    bottom: 5%;
    left: 40%;
  }
  .travellerContainermulticity{
    border: 1px solid lightgray;
    border-radius: 5px;
    /* flex-grow: 0.3; */
    width: 25%;
    height: 80px;
    position: relative;
    /* bottom: 9px; */
    cursor: pointer;
    margin-left: 15px;
    /* z-index: 0; */
    right: 0px;
    left: 7px;
    margin-top: 4px;
  
  }
}
@media only screen and (max-width: 1050px) {
  .traveller_modalmulti{
    z-index: 20111111111111111111111111111111111111;
    /* min-height: 20rem !important */
  }
  .fromToConnecting {
    margin-left: 1%;
    
   
  }
  .DepRetContainer{
    /* margin-left: auto;
    margin-right: auto; */
    
  }
 
  
  

  .buttonContainer {
    bottom: 5.5%;
    left: 37%;
  }
}
@media only screen and (max-width: 800px) {
  .RetContainer{
    margin-left: 7px;
  }
}

@media only screen and (max-width: 500px) {
  .traveller_modal {
    /* position: absolute; */
    width: 300px;
    /* height: 100px; */
    min-height: 25rem;
    /* margin: -1.7rem; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    z-index: 20;
    top: 25px;
    left: 0;
    background: white;
    /* border: 1px solid red; */
    padding: 15px;
  }
  .traveller_modalmulti{
    min-height: 25rem;
  }
  .infantChildren{
    display: flex;
    flex-direction: column;

  }
  .flight_container {
    width: 93% !important;
  }
  
  .buttonContainer {
    bottom: 4%;
    left: 30%;
  }
  .addcitybtn{
    font-size: 12px !important;
    font-weight: 400 !important; 
  }

  .traveller_modalmulti {
    position: absolute;
    width: 350px ;
    height: 200px;
    z-index: 20;
    top: 30px ;
    left: -100% ;
    background: white;
    /* border: 1px solid red; */
    padding: 15px;
  }
  .mobilesectionrow{
    display: flex !important;
    flex-direction: row !important;
    /* flex-wrap: nowrap; */
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    /* max-height: 8rem !important; */
    min-height: 7rem !important;
    background-color: #fff;
    width: 93%;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 10px ;
    padding: 5px;
  }
}
@media screen and (min-width: 250px) and (max-width: 400px) {
  .traveller_modalmulti {
    /* position: absolute; */
    width: 280px;
   
    z-index: 20;
    top: 30px;
    left: -100%;
    background: white;
    /* border: 1px solid red; */
    padding: 15px;
  }
  .buttonContainer{
    margin-left: -2rem !important;
     bottom: 3% !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {

.traveller_modalmulti {
  position: absolute;
  width: 314px;
  height: 100px;
  height: 200px;
  z-index: 20;
  top: 30px;
  left: -100%;
  background: white;
  /* border: 1px solid red; */
  padding: 15px;
}

.travellerContainermulticity{
  left: 0;
  }
.travellerContainer{
  z-index: 10;
}
}
@media screen and (max-width:600px) {
  .travellerContainermulticity{
    left: -12px;
    }
  .fromTo {
    display: flex;
    flex-direction: column;
    z-index: 1;

  }
  .RetContainer{
    margin-left: 0px;

  }.connectingIcon{
    transform: rotate(90deg) !important;
    width: 30px;
    height: 30px;
    justify-content: center;
    margin-left: auto;margin-right: auto;
  }
  .from{
    margin-bottom: 5px;
    margin-top: 10px;

  }
  .to{
    margin-top: 5px;
    margin-bottom: 10px;

  }
  .DepRetContainer{
    margin-bottom: 10px;
    gap: 10px !important;
  }
  .buttonContainer{
    /* margin-top: 30px; */
    bottom: 3%;
     margin-left: -1.5rem !important;
    /* margin-right: auto !important; */ 
  }
  .book{
    justify-content: flex-start;
    margin-top: 10px;
  
    }
    
    
}
@media screen and (max-width:467px) {
  .multiple_trip{
  margin-top: 0;

  }
  .travellerContainermulticity{
    right: 5px;
    min-width: 96%;
    display: flex;

    }
    .traveller_modalmulti{
      left: auto;
    }
    .DepRetContainer{
      min-width: 99%;
      right: 2px;

    }
    .RetContainer{
      left: 5px;
      position: relative;
    }
    
  .traveller_modal {
width: 280px;
  }
}