.flight_wrapper {
  /* background: linear-gradient( */
    /* to top,
    rgb(14, 38, 172) 0%,
    rgb(2, 8, 97) 50%,
    rgb(12, 3, 97) 50%,
    rgb(0, 1, 32) 100%
  ); */
  background-image: linear-gradient(0deg,#15457b,#051423);
  padding: 1px;
  position: relative;
  /* border: 1px solid green; */
  height: auto;
}
.flight_container {
  /* border: 10px solid green; */
  background-color: white;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  font-size: bold;
  height: auto;
  border-radius: 12px;
}
.tripInternational {
  display: flex;
  justify-content: space-evenly;
  font-size: bold;
  flex-wrap: wrap;
  max-width: 900px;
}
.book {
  flex-grow: 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: bold;
}
@media only screen and (max-width: 900px) {
  .book {
    /* display: none; */
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }
}
/* fromcol */
.fromcol{
  border: 1px solid grey !important;
  border-radius: 10px;
  max-height: 6rem;
}
.select{
  z-index: 99950;
  /* overflow: hidden; */
  bottom: 2.9rem;
  margin-bottom: 0;
}
.select:visited{
display: none;
}
/* .select:active{
  display: none;
} */
.multiple_trip {
  flex-grow: 1;
  display: flex;
  height: 70px;
  justify-content: flex-start;
}
.multiple_trip > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.multiple_trip > div > div {
  margin-left: 6px;
}

/* search bar from and to start */
.bookingSearch {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
}
.bookingSearch > div:nth-child(1){
  width: 46%;
  /* border: 1px solid red; */
  margin-right: 14px;
}
.bookingSearch > div:nth-child(2){
  width: 23%;
  /* border: 1px solid green; */
  display: grid;
    place-items: center;
}
.bookingSearch > div:nth-child(3){
  width: 23%;
  /* border: 1px solid green; */
}

/* .fromToConnecting {
  width: 50%;
} */

.departureArrivalConnecting {
  position: relative;
}
.from {
  width: 100%;
  /* border: 1px solid magenta; */
}
.to{
  width: 100%;
  /* border: 1px solid green; */
}
.fromTo {
  display: flex;
  z-index: 1;
}

.connectingIcon {
  /* border: 1px solid black; */
  display: grid;
  place-items: center;
  background-color: white;
}

/* //Departire nad return date css starts */
.DepRetContainer {
  
  flex-grow: 0.3;
  width: 20%;

 
}
.DepRetContaineraddcity{
  flex-grow: 0.3;
  width: 20%;
}
/* no. of travellers */
.travellerContainer {
  border: 1px solid rgb(191, 179, 179);
  border-radius: 5px;
  /* flex-grow: 0.3; */
  width: 20%;
  height: 55px;
  position: relative;
  cursor: pointer;
  margin-left: 15px;
  z-index: 15;
}
.travellerContainer:hover {
  background-color: aliceblue;
}

.travellersText {
  /* padding-top: 7px; */
  padding-left: 10px;
  /* font-size: 1.2em; */
  font-weight: bold;
  
  color: rgb(62, 59, 59);
}

.travellersText:after {
  border: solid #008cff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  content: "";
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  vertical-align: top;
  margin: 3px 0 0 8px;
  transition: all 0.3s ease-in-out;
}

.noOfTraveller {
  font-weight: 600;
  color: black;
  font-size: 1.4em;
  padding-left: 8px;
}
.noOfTraveller span {
  font-weight: 900;
  font-size: 1.1em;
  margin-right: 8px;
}

.noDisplay {
  display: none;
}
.traveller_modal {
  /* position: absolute; */
  width: 314px;
  height: 100px;
  height: 200px;
  z-index: 20;
  top: 30px;
  left: -100%;
  background: white;
  /* border: 1px solid red; */
  padding: 15px;
}
/*  multi*/
.traveller_modalmulti {
  /* position: absolute; */
  width: 314px;
  height: 100px;
  height: 200px;
  z-index: 20;
  top: 30px;
  left: -100%;
  background: white;
  /* border: 1px solid red; */
  padding: 15px;
}

.adultChild {
  font-size: 0.8em;
  font-weight: bold;
  color: gray;
  margin-top: 10px;
}

.modalApplyText {
  background: linear-gradient(
    to right,
    #8fdcfa 0%,
    #619ff0 50%,
    #6c9feb 50%,
    #3339e9 100%
  );
  width: 20%;
  margin: auto;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 4px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.passengerButtonContainer {
  display: flex;
  margin-top: 4px;
}

.passengerButton {
  margin: 5px 0 5px;
  padding: 4px 10px;
  font-size: small;
  cursor: pointer;
}
.clickPassenger {
  margin: 5px 0 5px;
  padding: 4px 10px;
  font-size: small;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
}
.passengerButton:hover {
  background-color: rgb(179, 170, 170);
}

.infantChildren {
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}

.buttonContainer {
  cursor: pointer;
  background-image: var(--color-btn-primary-bg,linear-gradient(93deg,#53b2fe,#065af3));
  position: absolute;
  bottom: 7.5%;
  left: 47%;
  padding: 0.1% 45px;
  border-radius: 34px;
  color: white;
  font-size: 24px;
    line-height: 24px;
  font-weight: 700;
  width: 216px;
  padding: 10px;
  /* margin-bottom: -32px; */
  opacity: 1;
  flex-shrink: 0;
    outline: 0;
    text-align: center;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 20%);
}
.buttonContainer1 {
  cursor: pointer;
  background: linear-gradient(
    to right,
    #8fdcfa 0%,
    #619ff0 50%,
    #6c9feb 50%,
    #3339e9 100%
  );

}
.addcitybtn{
  font-size: 14px !important;
  font-weight: 600 !important;
}


@media only screen and (max-width: 1020px) {
  .bookingSearch > div:nth-child(1){
    width: 100%;
    
  }
  .bookingSearch > div:nth-child(2){
    width: 47%;
    
  }
  .bookingSearch > div:nth-child(3){
    width: 47%;
    
  }
    .fromToConnecting {
    margin: auto;
    margin-bottom: 20px;
  }
  

  .travellerContainer{
    flex-grow: 1;
  }
  .buttonContainer {
    bottom: 5%;
    left: 40%;
  }
}
@media only screen and (max-width: 1050px) {
  .fromToConnecting {
    margin-left: 1%;
    
   
  }
  .DepRetContainer{
    margin-left: auto;
    margin-right: auto;
    
  }
  
  

  .buttonContainer {
    bottom: 5.5%;
    left: 37%;
  }
}


@media only screen and (max-width: 500px) {
  .traveller_modal {
    /* position: absolute; */
    max-width: 315px;
    height: 100px;
    height: 200px;
    margin: -1.7rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    z-index: 20;
    top: 0px;
    left: -100%;
    background: white;
    /* border: 1px solid red; */
    padding: 15px;
  }
  
  .buttonContainer {
    bottom: 4%;
    left: 30%;
  }
  .addcitybtn{
    font-size: 12px !important;
    font-weight: 400 !important; 
  }

  .traveller_modalmulti {
    position: absolute;
    width: 300px;
    height: 100px;
    height: 200px;
    z-index: 20;
    top: 30px;
    left: -100%;
    background: white;
    /* border: 1px solid red; */
    padding: 15px;
  }
}
@media screen and (min-width: 250px) and (max-width: 400px) {
  .traveller_modalmulti {
    /* position: absolute; */
    width: 280px;
    height: 100px;
    height: 200px;
    z-index: 20;
    top: 30px;
    left: -100%;
    background: white;
    /* border: 1px solid red; */
    padding: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {

.traveller_modalmulti {
  position: absolute;
  width: 314px;
  height: 100px;
  height: 200px;
  z-index: 20;
  top: 30px;
  left: -100%;
  background: white;
  /* border: 1px solid red; */
  padding: 15px;
}
.travellerContainer{
  z-index: 10;
}
}
@media screen and (max-width:600px) {
  .fromTo {
    display: flex;
    flex-direction: column;
    z-index: 1;

  }
  .from{
    margin-bottom: 5px;
    margin-top: 10px;

  }
  .to{
    margin-top: 5px;
    margin-bottom: 10px;

  }
  .DepRetContainer{
    margin-bottom: 10px;
    gap: 10px !important;
  }
  .buttonContainer{
    /* margin-top: 30px; */
    bottom: 4%;
  }
  .book{
    justify-content: flex-start;
    margin-top: 10px;
  
    }
}
