.main_cont {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-direction: row;
}

.header {
  margin-top: 3%;
  width: 80%;
  padding-left: 11%;
  font-weight: 700;
  margin-bottom: 1rem;
}
.singlebooking {
  background-color: white;
  padding: 1%;
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inner_cont {
  padding: 1%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
}
.inner_cont p {
  margin: 0px;
  padding: 0px;
}
.info_cont {
  padding: 1%;
  background-color: rgb(248, 248, 248);
  width: 78%;
  margin-right: 1%;
}
.fare {
  padding: 1%;
  width: 25%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  height: fit-content;
}
.form {
  gap: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  
  margin-top: 1%;

  padding: 2%;
}
.form input {
  width: 40%;
  border: 1px solid gray;
  padding: 2%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.btnPay {
  justify-content: center;
  min-width: 20%;
  background-color: #065af3;
  color: white;
  padding: 1%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin-left: 5%;
}
.btnSubmit {
  min-width: 8%;
  background-color: #065af3;
  border: none;
  color: white;
  border-radius: 10px;
  /* margin-top: 15px; */
  /* height: fit-content; */
  cursor: pointer;
}
@media screen and (max-width:730px) {
  .form{
    flex-direction: column;
  }
  .form input {
    width: 100%;

  }
  
}
@media screen and (max-width:750px){
  .main_cont {
    flex-direction: column;
  }
  .fare{
    width:78% !important ;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info_cont {
    /* padding: 1%; */
    /* background-color: rgb(248, 248, 248); */
    width: 400px !important;
    /* margin-right: 1%; */
  }
}
@media screen and (max-width:450px){
  .main_cont {
    flex-direction: column;
  }
  .fare{
    width:98% !important ;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .info_cont {
    /* padding: 1%; */
    /* background-color: rgb(248, 248, 248); */
    width: 300px !important;
    /* margin-right: 1%; */
  }
}