.main_cont {
  /* width: 90%; */
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-direction: row;
  background-color: #e5eef4;
  /* position: relative;
  bottom: 4.3rem; */
  margin-top: -4.3rem;

  
}

.header {
  margin-top: 3%;
  width: 80%;
  padding-left: 11%;
  font-weight: 700;

  margin-bottom: 1rem;
  
}
.singlebooking {
  background-color: white;
  padding: 1%;
  width: 96%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px rgb(158, 156, 156);
  gap: 0.5rem;
  
}
.inner_cont {
  padding: 1%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 5px;
}
.inner_cont p {
  margin: 0px;
  padding: 0px;
}
.info_cont {
  padding: 1%;
  /* background-color: rgb(248, 248, 248); */
  width: 78%;
  margin-right: 1%;
  
  
}
.bookingdetails{
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px rgb(158, 156, 156);
  /* width: 98%; */
  /* margin-right: 30px; */
}
.Seatsandmealsdetails{
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px rgb(158, 156, 156);
  width: 96%;
  /* margin-right: 30px; */
}
.formbox{
  -moz-box-shadow: 0 0 2px #ccc;
  -webkit-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 1px rgb(158, 156, 156);
  padding: 1rem !important;
  /* width: 98%; */
  /* margin-right: 30px; */
}
.nametraveller{
  width: 30% !important;
  display: grid;
  justify-content: start;
}
.importantinformation{
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px rgb(158, 156, 156);
  width: 96%;
  border-radius: 3px;
  background: #fff;
}
.Seatsandmeals{
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 5px rgb(158, 156, 156);
  border-radius: 5px;
  width: 96%;
}
.fare {
  padding: 1%;
  width: 25%;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
  height: fit-content;
  position: relative;
  bottom:9.6rem;
}
.form {
  gap: 1rem;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  
  margin-top: 1%;

  padding: 2%;
}

.genderbutton{
  display: inline-block;
  position: relative;
  /* color: #0087ca; */
  cursor: pointer;
  /* margin: 1rem; */
  /* padding: 10px; */
  /* width: 10% !important; */
 
}
.clicked {
  background-color: orange;
}

/* .genderbutton:focus{
  background-color: skyblue !important;
  color: #fff !important;
} */


.genderbutton:active::before{
  background-color: lightblue !important;
  opacity: .4 !important; 
  z-index: 5 !important;
  /* box-shadow: 0 5px #F68B8B; */
transform: translateY(4px);
}
.genderbutton:focus {
  outline: blue auto 5px; 
}


/* .genderbutton :after, :before {
  -webkit-tap-highlight-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased !important;
  background: rgb(229, 238, 244) !important;
  box-sizing: border-box;
} */
/* .genderbutton{
  border-color: black !important;
  border: #151616 !important;
  
  width: 15% !important;
  
} */
.form input {
  width: 50%;
  border: 1px solid gray;
  padding: 2%;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.form > input > ::placeholder{
  font-family: sans-serif !important;
}
.btnPay {
  justify-content: center;
max-width: 25%;
display: grid;
justify-content: center;
background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
  color: white;
  padding: 1%;
  border-radius: 35px;
  margin-top: 15px;
  border: none;
  font-size: calc(var(--font-scale, 1 )*16px);
  font-family: inherit;
    line-height: inherit;
  font-weight: 900;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 22%);
  padding: 10px 35px;
  height: 44px;
  cursor: pointer;
  margin-left: 5%;
  margin-bottom: 2rem;
  
}
.btnSubmit {
  max-width: 8%;
  background-image: linear-gradient(97deg,#53b2fe,#065af3 130%);
  border: none;
  color: white;
  border-radius: 20px;
  /* margin-top: 15px; */
  /* height: fit-content; */
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  display: grid;
    justify-content: center;
}
.bookingheadbg{
  background-image: linear-gradient(0deg,#15457b,#051423);
}




.inputdetails{
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  border-color: grey !important;
  outline: none !important;
}
.react-tel-input ,.form-control {
  position: relative !important;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  line-height: 25px;
  height: 48px !important;
  width: 100% !important;

  outline: none;
}

input:focus {
  outline: none ! important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
  }
  textarea:focus {
  outline: none ! important;
  border-color: #719ECE;
  }
.sendtouser{
  display: flex;
  flex-direction: row !important;
}
.addnew{
  outline: none !important;
  background: transparent !important;
    font-size: calc(var(--font-scale, 1)*12px) !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #008cff !important;
    font-family: inherit !important;
    line-height: inherit !important;
    /* margin: 0 !important; */
    border-radius: 0 !important;
    margin-bottom: -1.5rem;
}
@media screen and (max-width:930px) {
  
  .form input {
    width: 100%;

  }
  .btnSubmit{
    display: grid;
    justify-content: center;
  }
  
}
@media screen and (max-width:780px){
  .inputdetails{
    width: 100%;
  }
  .btnPay{
max-width: 35%;
    
  }
  .sendtouser{
    display: flex;
    flex-direction: column !important;
  }
  .form{
    flex-direction: column;
  }.nametraveller{
    width: 100% !important;
  }
  .genderbutton{
    width: 30% !important;
  }
  .main_cont {
    flex-direction: column;
  }
  .fare{
    width: 20rem !important ;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .info_cont {
    /* padding: 1%; */
    /* background-color: rgb(248, 248, 248); */
    width: 110% !important;
    /* margin-right: 1%; */
  }
}
@media screen and (max-width:550px){
  .main_cont {
    flex-direction: column;
  }
  .fare{
    width:98% !important ;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .info_cont {
    /* padding: 1%; */
    /* background-color: rgb(248, 248, 248); */
    width: 110% !important;
    /* margin-right: 1%; */
  }
}